html, body{
    margin: 0;
    padding: 0;
    background-color: #202124;
}
.container{
    margin: auto;
    width: 50%;
    box-shadow: 0px 14px 50px -19px rgba(0,0,0,0.75);
    border-radius: 25px;
}
h2{
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
}
h5{
    color: white;
    text-align: center;
    padding-top: 0px;
}
form{
    margin: auto;
    width: 50%;  
}
#plusbutton{
    display: inline;
}
.button{
    padding-right: 20px;
    padding-bottom: 20px;
}
.mdl-textfield__label{
    color: white;
}
.mdl-textfield__input{
    border-color: white;
}
